PORT=4000
NODE_ENV=development
CLIENT_URL=http://localhost:5173
JWT_SECRET=change_this_to_a_long_random_value
DATABASE_URL="file:./dev.db"
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=


MAIL_HOST=sandbox.smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USER=your_mailtrap_user
MAIL_PASS=your_mailtrap_pass
MAIL_FROM="Elite Advisors <no-reply@elite.local>"



RECAPTCHA_SECRET_KEY=dummy_secret_key_change_me
RECAPTCHA_PROJECT_ID=dummy_project_id_change_me
